
.topnav {
    color: #ffffff; 
    text-align: center
    padding: 16px;
    font-size: 20px;
    overflow: hidden; 
}
.topnav a {
    float: right;
    
    padding-inline-start: 50px;
    
    font-size: 17px;
    background-color: #ffffff;
    color: #777777;
    text-decoration: none;
    font-family: 'arial', 'helvetica neue', helvetica, sans-serif;
    word-spacing: 3mm;
    text: right;
}
#name {
    float: left;
    color: #ffffff;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px; 
    padding: 25px;
    text-align: center;
    padding-left: 10%;
}

.main-container {
    border-color: #dddddd;
    background-color: #ffffff;
    display: block;
    border-block: solid;
    block-size: 600px;
    padding-top: 250px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding: 200px;
    font-size: 20px;
    overflow: scroll;
}
#about-me {    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #4aaaa5; 
    padding: 10px;
    text-align: left;
}
main {
    background-color: lightgray;
    background-repeat: repeat; 
    background-size: cover; 
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}
#about-image {
    float: left;
    padding-right: 10%;
}
